<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>OFF</level>
            <onMatch>DENY</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="OFF">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>